In [116]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [117]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [118]:

def get_title(x):    
    #title = x['Name'].str.split(expand = True)[1]
    x['Age'] = x['Age'].fillna(x['Age'].mean())
    x['Cabin'] = x['Cabin'].isna().astype(int)
    x['Fare'] =x['Fare'].fillna(x['Fare'].mean())
    x['Embarked'] = x['Embarked'].replace({'S':1,'C':2,'Q':3}).fillna(1)
    return x 
train_data = get_title(train)
test_data = get_title(test)

0        Mr.
1       Mrs.
2      Miss.
3       Mrs.
4        Mr.
       ...
886     Rev.
887    Miss.
888    Miss.
889      Mr.
890      Mr.
Name: 1, Length: 891, dtype: object