##Second Vresion Titanic Kaggle Competetion

In [377]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [507]:
pd.set_option('display.max_rows',10)
train_data = pd.read_csv('train.csv')

In [508]:
def preProcessData(df):
    train_data.dropna
    Y = train_data['Survived']
    train_data.drop(['PassengerId','Cabin','Survived','Ticket'],axis = 1)
    train_data['Name'] = train_data['Name'].str.split('.').str[0].str.split(',').str[1]
    categorical_data = train_data[['Name','Sex','Embarked']]
    non_categorical = train_data[['Pclass','Age','Parch','SibSp','Fare']]
    
    for i in categorical_data.columns:
        dumm = pd.get_dummies(categorical_data[i])
        categorical_data = pd.concat([categorical_data,dumm],axis =1 )
    return categorical_data

In [509]:
categorical_data = preProcessData(train_data)

In [511]:
categorical_data

,Name,Sex,Embarked,Capt,Col,Don,Dr,Jonkheer,Lady,Major,...,Mrs,Ms,Rev,Sir,the Countess,female,male,C,Q,S
0,Mr,male,S,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1,Mrs,female,C,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0
2,Miss,female,S,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
3,Mrs,female,S,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,1
4,Mr,male,S,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,Rev,male,S,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,1
887,Miss,female,S,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
888,Miss,female,S,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
889,Mr,male,C,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
890,Mr,male,Q,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0